@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/glacial-indifference-2");

* {
  margin: 0;
  background-color: #f5fff7;
}

.tela-1 h1{
  display: flex;
  flex-direction: row;
  font: 20px;
  font-family: "poppins";
  color: #025d00;

  .logozinha {
    display: flex;
    width: 21px;
    height: 76px;
  }
}

.cabecaralho button {
  font-family: "Glacial Indifference", sans-serif;
  border-color: transparent;
  font-size: 23px;

}

.cabecaralho .Login-button {
  background-color: transparent;
  border-color: #0b5809 #0e997f;
  border-radius: 51px;
}

p{
    font-family: 'poppins';
}

